@import "sass/utilities/functions";
@import "sass/utilities/variables";

@import "fonts";
// Override variables here
// You can add new ones or update existing ones:

$family-serif: "Bitter", serif; // Add a serif family
$family-sans-serif: "Fira Sans Book", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

$danger: $orange; // Use the existing orange
$family-primary: $family-sans-serif; // Use the new serif family


@import "bulma";
@import "layout";
@import "header";
@import "importpgn";
@import "footer";
@import "chessground";
@import "splash";
