header {
    z-index: 3;
    .delila.is-3 {
        font-variant: small-caps;
        font-size: 2rem;
        color: black;
        padding-top: 2px;
        margin: 10px 0 0 0;
    }
    .import {
        font-weight: bold;
    }
}
