.content {
    splash {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            display: block;
            font-family: "Dual";
            font-variant: small-caps;
            font-size: 25vh;
            margin-bottom: 0;
            .d1, .e1 {
                font-feature-settings: "salt" 3;
            }
            .l1, .l2 {
                font-feature-settings: "salt" 13;
            }
            .i1 {
                font-feature-settings: "salt" 4;
            }
            .a1 {
                font-feature-settings: "salt" 15;
            }
        }
        activity {
            display: block;
            margin: 0 auto;
            text-align: center;
            font-family: "Dual";
            font-variant: small-caps;
            font-feature-settings: "ss03";
            font-size: 3vh;
        }
    }
}
